@import "./imports/_normalize.scss";
// Don't touch
@import "./imports/_form-exercise.scss";


body{
  font-family: sans-serif;
}
*{ box-sizing: border-box }

img {
   width: 100%;
   display: block;
}

.box {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	&__menu {
		display: flex;
	}
	&__content {
	border: 1px solid black;
	margin: 0;
	padding: 0 15px 15px 15px;
	}
}


button {
	flex: 1;
	background: blue;
	border: 1px solid white;
	color: white;
	font-weight: bold;
	padding: 35px 0;
}


#app-container{
  max-width: 800px;
  margin: 0 auto;
}

.membership1,
.screenings1,
.press1,
.programs1
{
	background-color: #63d7f8;
	
	

}
.membership{
	display: none;
}

.programs{
	display: none;
}

.screenings{
	display: none;

}

.press{
    display: none;
}
